# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.env

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.whl

models/checkpoint
models/*.pkl
models/*.joblib
models/tf_policy_weights.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule files
celerybeat-schedule
celerybeat.pid

# dotenv environment variables file
.env
.env.*

# IDE / Editor configurations
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs
*.log

# Ignore Python wheels
*.whl

# Ignore virtual environment metadata
conda-meta/